body { 
  font-family: georgia, verdana, arial, "ms sans serif", sans-serif; 
  font-size: 14px; 
  line-height: 20px;
  margin: 6px 0px;
  color: #999999;
  background-color: #FFFFFF; 
}

p, table, ul, li {
  font-family: georgia, verdana, arial, "ms sans serif", sans-serif; 
  font-size: 14px; 
  line-height: 20px;
  margin: 6px 0px;
  color: #666666;
} 

div#top {
  font-family: georgia, verdana, arial, "ms sans serif", sans-serif; 
  font-weight: bold;  
  font-size: 22px; 
  line-height: 28px;    
  margin: 8px 8px;
/*  color: #998877; */
  color: #FFFF00;
}

div#footer {
  font-family: georgia, verdana, arial, "ms sans serif", sans-serif; 
  font-size: 12px; 
  line-height: 12px;    
  margin: 4px 4px;
  color: #999999;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
  margin: 1px 0px;
/*  color: #998877; */
  color: #18345A;
}

a:link {
/*  color: #EE9955;*/
  color: #18345A;
}

a:visited {
/*  color: #EE9955;*/
  color: #18345A;
}

a:active {
  color: #000000;
}

a:hover {
  color: #000000;
}


div#menu a {
  font-family: georgia, verdana, arial, "ms sans serif", sans-serif; 
  font-size: 14px; 
  line-height: 18px;
/*  color: #EE9955;*/
  color: #18345A;
  text-decoration: none;
  display: block;
  padding: 3px;
  width: 160px;
  text-align: left;
  background-color: #EEEEEE;
  border-width: 2px;
  border-style: solid;
  border-color: white;
}


div#menu a:hover {
  font-family: georgia, verdana, arial, "ms sans serif", sans-serif; 
  font-size: 14px; 
  line-height: 18px;
/*  color: #FFFFFF;*/
  color: #FFFF00;
  text-decoration: none;
  display: block;
  padding: 3px;
  width: 160px;
  text-align: left;
/*  background-color: #998877;*/
  background-color: #18345A;
  border-width: 2px;
  border-style: solid;
  border-color: white;
}


div#menu a:active {
  font-family: georgia, verdana, arial, "ms sans serif", sans-serif; 
  font-size: 14px; 
  line-height: 18px;
/*  color: #FFFFFF;*/
  color: #FFFF00;
  text-decoration: none;
  display: block;
  padding: 3px;
  width: 160px;
  text-align: left;
/*  background-color: #998877;*/
  background-color: #18345A;
  border-width: 2px;
  border-style: solid;
  border-color: white;
}

