/* =======
Font Sizes
======= */

html {
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

input {
	font-size: inherit;
}

/* ========
Page layout
======== */

body {
  font-family: georgia, verdana, arial, "ms sans serif", sans-serif;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: space-between;
}

#main-content {
  padding-left: 30px;
  padding-right: 50px;
}

h1 {
  font-weight: bold;
  margin: 1px 0px;
  color: #998877;
}

h3 {
  font-weight: bold;
  margin: 1px 0px;
  color: #998877;
}

a:link {
  color: #EE9955;
}

a:visited {
  color: #EE9955;
}

a:active {
  color: #998877;
}

a:hover {
  color: #998877;
}

/* ===
Header
=== */

header {
  font-size: xxx-large;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #998877;
  text-align: center;
  padding: 25px 0;
  margin-bottom: 40px;
}

/* ======
Main Menu
====== */

#main-menu-wrap {
}

#main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#main-menu > li {
  position: relative;
  padding: 0;
  margin: 0;
  color: #EE9955;
  text-align: left;
  background-color: #EEEEEE;
  flex: 1;
}

#main-menu > li:not(:last-child) {
  margin-bottom: 10px;
}

#main-menu > li:hover {
  background-color: #998877;
  color: white;
}

#main-menu > li > a {
  display: block;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  margin: 0;
}

#main-menu > li > span, #main-menu > li > a > span {
  display: block;
  padding: 10px 50px 10px 20px;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #EEEEEE;
  box-shadow: 0 2px 5px #7a7a7a;;
  z-index: 1;
}

#main-menu > li:hover .submenu {
  display: flex;
  flex-direction: column;
}

.submenu li {
  display: flex;
  white-space: nowrap;
  color: #EE9955;
}

.submenu a {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  flex: 1;
}

.submenu a:hover {
  background-color: #998877;
  color: white;
}

.submenu > li span {
  display: block;
  padding: 5px 30px 5px 5px;
}